Flask==2.3.3
python-dotenv==1.0.0
Stripe==8.0.0
bcrypt==4.0.1
PyJWT==2.8.0
email-validator==2.0.0
Werkzeug==2.3.7
gunicorn==21.2.0
Flask-SQLAlchemy==3.1.1
google-auth
google-auth-oauthlib
google-api-python-client